body {
    text-align:center;
    background-color: lightgray;
}

.card {
    background-color: white;
}

h1 {
    background-color:gray;
    border: 1px black solid;
    border-radius: 10px;
}

input[type=text] {
    margin: 0 auto;
    display: block;
}

#btnSearch {
    background-color: skyblue;
    border-radius: 10px;
}